@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você redefinir sua chave do autenticador, seu aplicativo autenticador não funcionará até que você o reconfigure.</strong>
    </p>
    <p>
        Esse processo desabilita 2FA até você verificar seu aplicativo autentificador e também redefine seus códigos de recuperação 2FA.
        Se você não completar sua configuração do app autentificador você pode perder acesso da sua conta.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Resetar chave autentificadora</button>
    </form>
</div>