@{
    ViewData["Title"] = "Confirm email notification";
    Layout = "_AdminlteNetcoreBlank";
}


<div class="text-center">
    <h3>Nós enviamos a confirmação de e-mail para seu e-mail.</h3>
    <h4>Por favor siga as instruções do e-mail para ativação da conta.</h4>
</div>