@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_AdminlteNetcoreBlank";
}

<div class="text-center">
    <h3>Sua senha foi resetada. Por favor <a asp-action="Login">clicar aqui para iniciar sessão.</a>.</h3>
</div>
